* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.doctor_dashboard_main_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    overflow: hidden;

}

.calendar_doctor_main_dashboard {
    display: grid;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}



.Doctor_left_section {
    box-shadow: 0px 10px 18px -9px rgb(0, 0, 0);
    height: 100vh;
    padding: 0.5rem;
}

.table__ {
    width: 100%;
    text-align: center;
    padding: 0.2rem;
    margin-top: 0.2rem;
}

.DoctorSelect {
    height: 50px;
    text-align: center;
}


.calendar__ {
    border-radius: 8px;
    height: 25px;
    padding: 0.2rem;
}

.table__ {
    font-family: sans-serif;
    font-weight: 300;
    box-shadow: 0px 10px 18px -9px rgb(163, 162, 161);

}

.tr__ {
    border: 1px solid black;
    font-family: sans-serif;
    font-weight: 300;
}

.th__ {
    border-bottom: 1px solid rgb(163, 162, 161);
    font-weight: 100;
    font-family: sans-serif;
    padding: 0.3rem;

}

.status_class {
    border: none;
}

._th {
    font-weight: 300;
    padding: 0.5rem;


}


.option2 {
    background-color: rgb(47, 211, 47);

}


.delete_btn {
    border: none;
    background-color: white;
    color: crimson;
    font-size: 15px;
    font-weight: 600;
}


.table__notification {
    width: 600px;
    text-align: center;
}