* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard_main_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.doctor_main_dashboard {
    display: grid;
    margin-top: 5rem;
}