* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

a {
    text-decoration: none;
}

.main_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    overflow: hidden;
}

.user_main_dashboard {
    margin: 0.5rem;
    display: grid;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 1rem;

}

.calendar_Section {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    box-shadow: 0px 10px 18px -9px rgb(0, 0, 0);
    padding: 0.5rem;
    align-items: start;
}

.left_section {
    box-shadow: 0px 10px 18px -9px rgb(0, 0, 0);
    height: 100vh;
    padding: 0.5rem;

}

.left_section h3 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 300;
}


.colors {
    background-color: red;
    border-radius: 8px;
    height: 25px;
    padding: 0.2rem;
}


.event-list {
    display: grid;
    gap: 0.2rem;
    margin-top: 1rem;
    list-style: none;
    text-align: center;
}

.event-list li {
    width: 300px;
    justify-items: center;
    margin-left: 150px;
    font-family: sans-serif;

}

.pending {
    background-color: rgb(253, 204, 42);
    border-radius: 8px;
    border-radius: 8px;
    height: 25px;
    padding: 0.2rem;

}

.completed {
    padding: 0.2rem;
    background-color: rgb(47, 211, 47);
    border-radius: 8px;
    height: 25px;
}

.other {
    padding: 0.2rem;
    background-color: #FF0000;
    border-radius: 8px;
    height: 25px;
}